<%- include ../partials/_header %>
<h1>Gallery</h1>
<hr class="uk-divider-icon">

<div class="gallery-body">
<% if(currentUser.role == 'normal'){ %>
<% var image = 1; %>
    <% for(var display in images) { %>
    <div class="gallery-body_image-area">   
        <img class="gallery-body_image" id="myImg<%=image%>" data-src="/usersImg/<%=currentUser.username%>/<%=images[display]%>" width="800" height="600" alt="" uk-img>
        <% image = image + 1 %>     
        <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img">

      </div>
    </div>
    <% } %>
</div>
<% } else {%>
<img class="gallery-body_cartel" data-src="/img/cartel-home.jpg" width="400" height="300" alt="" uk-img>
<% } %>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg<%=image%>');
console.log(img);
var modalImg = document.getElementById("img");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
    modal.style.display = "none";
}
</script>

<%- include ../partials/_footer %>